@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600&family=Source+Code+Pro:wght@400;600&display=swap');

*{
    color:white;
    text-decoration: none;
    font-family:"Source Code Pro", "Noto Serif SC", sans-serif;
    box-sizing: border-box;
    padding: 2px 5px 2px 5px;
}

body{
    background-color: rgb(5, 5, 25);
}

.gridbox{
    display: grid;
    grid-template-columns: [start]25vw[mid] 73vw[end];
    height: 99vh;
}

#left{
    grid-column: [start] [mid];
}


#right{
    grid-column: [mid] [end];
    overflow:scroll;
}

a:hover{
    color: yellow;
    text-decoration:underline;
}